*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-items: center;
}

.calculator{
    display: flex;
    justify-items: center;
    align-content: center;
    background-color: darkcyan;
    padding: 20px 20px;
    border-radius: 10px;
    margin: 20px 20px;
    background-size: contain;
    height: 80%;
    width: 25%;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 25px;
    background-color: white;
    color: black;
    margin: 5px;   
    padding: 0px;
    cursor: pointer;
    font-weight: bold;
}

form input.display{
    justify-content: flex-end;
    margin: 5px 0;
    display: flex;
    width:100%;
    text-align: right;
   flex: 1;
    font-size: 28px;
    box-shadow: none;
}

form input.equal {
    background-color: orange;

}

form input.equal:hover{
    color: white;
}

.link a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
h3{
    margin-left: 10px;
}



